/* FOUC fix when paired with the CSS in the index.html style tag. */
html {
  visibility: visible;
  opacity: 1;
  transition: 1s ease;
}

.poem {
  white-space: pre-wrap;
}

textarea {
  width: 100%;
  height: 500px;
}

.meta {
  height: 4em;
}

@media only screen and (max-width: 425px) {
  .meta {
    height: 5em;
  }
}

li {
  margin-bottom: 0.75em;
}
